<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @band.type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @band.date %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @band.start_date %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
